/* Default styles being applied to website */
/* Order of CSS reorganized according to order of occurence in HTML */

* {
	background-color: #D5DCE4;
	transition-duration: 0.15s;
}

body {
	width : 88vw;
	margin: auto;
	padding: 5vw 0 5vw 0;
	
	display: flex;
	flex-direction: column;
}

#container {
	display: flex;
	flex-direction: row;
	justify-content:space-evenly;
}

.circle-1 {
	width:250px;
	height:250px;
	background:red;
	border-radius:50%;
	flex-shrink: 0;
	overflow: visible;
	position: absolute;
	margin-right: 35%;
	z-index: 1;
	mix-blend-mode: overlay;
}

.circle-2 {
	width:250px;
	height:250px;
	background:#FFFF01;
	border-radius:50%;
	flex-shrink: 0;
	overflow: visible;
	margin-left: 35%;
	z-index: 0;
}

#transparent {
	width:250px;
	height:250px;
	background:#FD0000;
	border-radius:50%;
	flex-shrink: 0;
	overflow: visible;
	position: absolute;
	margin-right: 35%;
	opacity: 0.5;
	z-index: 2;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content:space-evenly;
	padding-top: 2%;
}

p {
	font-weight: bold;
	font-family: arial;
}

#para-1 {
	padding-right: 5%;
}

#para-2 {
	padding-right: 2%;
}

button {
	border: none;
	padding: 20px;
	font-size: 16px;
	color: #CED9DD;
	font-weight: bold;
	align-self: center;
	border-radius: 8px;
	background-color: #1F3763;
	margin-top: 5%;
}

button:hover {
	background-color: #2b64df;
	color: white;
	cursor: pointer;
}

button:active {
	background-color: #1F3763;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
	opacity: 0;
}
