/* Default styles being applied to website */
/* Order of CSS reorganized according to order of occurence in HTML */

/* CSS Styling for Main Webpage. */
* {
	/* Transistions added to make circle movement fluid. */
	transition-duration: 0.15s;
	background-color: #D5DCE4;
}

body {
	width : 88vw;
	margin: auto;
	display: flex;
	padding: 5vw 0 5vw 0;
	flex-direction: column;
}

/* CSS Style for division containing the circles. */
#container {
	display: flex;
	flex-direction: row;
	justify-content:space-evenly;
}

/* CSS Style for 3 circles with mix-blend-mode for intersection color. */
.circle-1 {
	z-index: 1;
	width:250px;
	height:250px;
	flex-shrink: 0;
	overflow: visible;
	margin-right: 35%;
	border-radius:50%;
	position: absolute;
	mix-blend-mode: inherit;
	background:rgba(255, 0, 0, 0.5); 
}

.circle-2 {
	z-index: 0;
	width:250px;
	height:250px;
	flex-shrink: 0;
	margin-left: 35%;
	border-radius:50%;
	overflow: visible;
	background:#FDFE02;
}

#transparent {
	z-index: 0;
	width:250px;
	height:250px;
	opacity: 0.5;
	flex-shrink: 0;
	margin-right: 35%;
	border-radius:50%;
	overflow: visible;
	position: absolute;
	background:#FD0000;
}

footer {
	display: flex;
	padding-top: 2%;
	flex-direction: row;
	justify-content:space-evenly;
}

p {
	font-weight: bold;
	font-family: arial;
}

#para-1 {
	padding-right: 5%;
}

#para-2 {
	padding-right: 2%;
}

/* CSS for the Intersection button.
	It will disappear after getting clicked once. */
button {
	border: none;
	padding: 20px;
	margin-top: 5%;
	font-size: 16px;
	color: #CED9DD;
	font-weight: bold;
	align-self: center;
	border-radius: 8px;
	background-color: #1F3763;
}

button:hover {
	color: white;
	cursor: pointer;
	background-color: #2b64df;
}

button:active {
	opacity: 0;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
	background-color: #1F3763;
}
